body{
    margin:0;
}


body.black {
    background-color: black;
    color: white;

}
body.black a {
    color: white;
}

body.white {
    background-color: white;
    color: black;
}
body.white a {
    color: black;
}

h1 {
    font-size: 45px;
    text-align: center;
    border-bottom: 1px solid gray;
    margin: 0;
    padding: 5px;
}
a {
    text-decoration: none;
}
#btn{
    position: absolute;
    top: 10px;
    right: 10px;
}
#btn2{
    position: relative;
    right: 10px;
    text-align: right;
}
#grid ol {
    border-right: 1px solid gray;
    width: 100px;
    margin: 0;
    padding: 20px;
}
#active {
    color: red;
    
}
#grid{
    display: grid;
    grid-template-columns: 150px 1fr;
}


@media(max-width:500px){
    #grid{
        display: block;
    }
    #grid ol {
        border-right: none;
        border-bottom: 1px solid gray;
        width: 500px;
    }
}